@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-gradient1: linear-gradient(
    to right,
    #7f7fd5,
    #86a8e7,
    #91eae4
  );
  --background-image-gradient2: linear-gradient(
    to right,
    #aa4b6b,
    #6b6b83,
    #3b8d99
  );
  --background-image-gradient3: linear-gradient(to right, #bdc3c7, #2c3e50);
  --background-image-logo-gradient: linear-gradient(to right, #fc00ff, #00dbde);
  --background-image-logo: url('../public/marutsuki.png');

  --font-display: Jura, mono;
  --font-text: Red Hat Text, mono;

  --ease-overshoot: cubic-bezier(0.175, 0.885, 0.32, 1.333);

  --animate-fadein: 300ms fadein ease-out;
  --animate-slidein: 1s slidein ease-out;
  --animate-slidein-right: 1s slidein-right ease-out;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: white;
  color: black;
  min-width: 100vw;
  min-height: 100vh;
}

body:has(.dark) {
  background: #040404;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animate-slidein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slidein-right {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}